header {
    background-color: green;
}

nav {
    display: flex;
}

ul {
    display: flex;
    
}
ul li {
    margin-right: 20px;
}

.main-content {
    background-color: orange;
    color: white;
}
h1 { 
    color:red;
}

aside {
    background-color: brown;
}

article {
    background-color: blue;
}

footer {
    background-color: green;
} 

footer ul {
    flex-direction: column;
}

 